.todo-item {
  margin: 0 auto 2em auto;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.todo-item div {
  display: flex;
}

.todo-item button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eee;
  margin: 0.5em;
  padding: 2px;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  width: 300px;
}

.todo-item button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: 0.1em;
}

.todo-item button:active {
  background-color: #525252;
  color: #fafafa;
}

.todo-item button.selected {
  background-color: black !important;
  color: white;
}

.todo-item button.selected:hover {
  background-color: #505050 !important;
  color: white;
}

.todo-item button.selected:active {
  background-color: black !important;
  color: white;
}
